@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section LeftSide{
    <h1>MERHABALAR</h1>
    <h1>BilgeAdam ANK BOOST9</h1>

}
    <div class="container-md">
        <div class="row">
            <div class="col-4">
                <img src="~/images/Jorge.jpg" alt="" />
            </div>
            <div class="col-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d196173.6955380727!2d32.95703668941456!3d39.80219145437657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2str!4v1667218926065!5m2!1sen!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </div>